@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600;700&family=Libre+Franklin&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.2rem;
}

h1,
h2,
h3 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

p, ul {
  line-height: 2rem;
}

input.text-input {
  border: solid #357def 1px;
  border-radius: 0.4rem;
  font-size: inherit;
  padding: 0.3rem;
  transition: all 0.2s linear;
  outline: none;
  background-color: white;
  font-family: inherit;
}
input.text-input:focus {
  border-color: white;
  box-shadow: -5px -5px 20px 10px #357cee7c, 
              5px 5px 20px 10px #ef2e9267;
}

a, button, .gradient-button, .gradient-file::file-selector-button {
  border: none;
  font-size: inherit;
  color: white;
  background-color: #357bee;
  padding: 0.3rem;
  border-radius: 0.4rem;
  text-decoration: none;
  transition: all 0.2s linear;
  --gradient-shift: 0px;
  cursor: pointer;
}
button:hover, a:hover, .gradient-button:hover, .gradient-file::file-selector-button:hover {
  background-image: linear-gradient(
    to right,
    #357bee var(--gradient-shift),
    #ef2e92
  );
}
.no-gradient {
  background-image: none;
  background-color: transparent;
  color: black;
  padding: 0;
}
.no-gradient:hover {
  background-image: none;
  background-color: transparent;
  color: black;
}
.fancy-button {
  background: white;
  color: black;
  /* yelow glow */
  border: #f5f500 solid 2px;
  box-shadow: 0 0 40px 0 #f5f500;
}
.fancy-button:hover {
  background: #357bee;
  color: white;
  border: #357bee solid 2px;
  /* gradient shadow */
  /* box-shadow: -5px -5px 40px #357def,  */
  /* 5px 5px 40px #ef2e92; */
}

a.icon-link {
  background-image: none;
  background-color: transparent;
  padding: 0;
  margin: 0 0.3rem;
  height: 20px;
}
a.icon-link:hover {
  opacity: 0.7;
}

button:disabled, a:disabled {
  background-image: none;
  opacity: 0.5;
  cursor: wait;
}


.button-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.event-info .button-bar {
  justify-content: left;
}
.tall {
  line-height: 2rem;
}

.event-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: start;
  padding: 0;
}
.event-tags .event-tag {
  color: white;
  font-weight: 700;
  font-size: 1rem;
  background-image: linear-gradient(to right, #b4cdf6, #51c8e7);
  border-radius: 1rem;
  padding: 0rem 0.7rem;
  margin: 0 0.2rem;
}

.button-bar a {
  margin: 0 0.2rem;
  padding: 0.5rem;
}

/* span {
  width: fit-content;
} */

footer {
  border-top: 0.5px solid black;
  margin-top: 3rem;
}

code {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  background-color: #f5f5f5;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 0.4rem;
}

#head {
  margin: 0;
  width: 100%;
  height: 25vh;
  min-height: 250px;
  align-items: center;
}

.gradient-banner {
  background-image: radial-gradient(
    circle at var(--cursor-x) var(--cursor-y),
    #bd0063 1px,
    #00c8fc var(--gradient-shift),
    #2400db
  );
  opacity: 0.85;
  color: white;
  --cursor-x: 100%;
  --cursor-y: 100%;
  --gradient-shift: 50%;
}

#headBody {
  margin: 1rem;
}

#headBody h2 {
  width: 90vw;
  text-align: center;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;

}

.block {
  margin: 2rem 3rem 0 3rem;
  width: 50%;
  min-width: 350px;
}

.container {
  margin: 0 auto;
  width: min-content;
}

.banner {
  margin: 2rem 3rem 0 3rem;
  background-color: #357cef33;
  border-radius: 0.4rem;
  width: 50%;
  min-width: 320px;
  padding: 0rem 1rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

div.center {
  width: fit-content;
}

.vcenter {
  margin: auto;
}

.name,
.gradient-text {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.4rem;
  /* bold */
  font-weight: 700;
  margin: 0;
  /* gradient text */
  background-image: linear-gradient(to right, #357bee, #ef2e92);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.blinking {
  animation: blinking 2s infinite;
}
@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.event-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event {
  border: 0.5px solid #7e7e7e;
  border-radius: 10px;
  margin: 2rem 0;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  line-height: 2rem;
  justify-content: left;
}

.event-watermark {
  position: relative;
  top: 170px;
  text-align: right;
  left: 0;
  width: 100%;
  opacity: 0.2;
  z-index: -1;
  font-size: 14rem;
  height: 0;
  /* no select */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  pointer-events: none;
}

.event-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.event-info {
  padding: 0 1rem 1rem 1rem;
}

.countdown {
  margin: 0 0.4rem;
  vertical-align: middle;
}

.scrollable {
  overflow-y: scroll;
  padding: 0 1rem;
  max-height: 80vh;
  /* inner shadow top and bottom */
  box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.2),
  inset 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
}

.switch {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 40px;
  margin: 0.4rem;
  --switch-text: "Future";
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  border-radius: 0.4rem;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: ; */
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: #357def solid 1px;
}

.slider::before {
  position: absolute;
  content: "Past events";
  height: 30px;
  width: 150px;
  left: 4px;
  top: 4px;
  background-color: #357def;
  color: white;
  border-radius: 0.4rem;
  -webkit-transition: 0.4s;
  transition: 0.5s all cubic-bezier(0.5, 0, 0.1, 1.2);
  text-align: center;
  line-height: 30px;
}
/* .slider:hover {
} */

input:checked + .slider:before {
  left: calc(100% - 4px - 150px);
  content: "Future events";
}

.hidden {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery .fit {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gallery .square, .gallery .rectangle {
  margin: 0.5rem;
  object-fit: contain;
  max-width: 100%;
}

.gallery .small.square {
  width: 100px;
  max-height: 75px;
}

.gallery .small.rectangle {
  width: 200px;
  max-height: 50px;
}

.gallery .medium.square {
  width: 200px;
  max-height: 150px;
}

.gallery .medium.rectangle {
  width: 400px;
  max-height: 100px;
}

.gallery .big.square {
  width: 250px;
  max-height: 200px;
}

.gallery .big.rectangle {
  width: 600px;
  max-height: 200px;
}

.gradient-file {
  font-size: inherit;
}

/* sponsorship tiers */
.tier-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tier-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 0.4rem;
  border: 1px solid #357def;
  transition: all 0.2s ease-in-out;
  background-color: white;
  cursor: pointer;
  width: 250px;
  min-height: 150px;
  text-align: center;
}
.tier-card:hover {
  transform: rotate3d(1, 1, 0, 12deg);
  box-shadow: 2px -2px 5px #ef2e92
}

.tier-card p, div.tier-card h2 {
  margin: 0;
}
.tier-card.selected {
  background-color: #357def;
  color: white;
}

.website-preview {
  width: 50vw;
  min-width: 325px;
  font-size: 1.2rem;
  /* margin: 0 auto; */

  border: #357def solid 1px;
  border-radius: 0.4rem;

  padding: 0 30px;
}

.website-preview .url-bar {
  padding: 5px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: #357def;
  /* ignore outer padding */
  margin: 0 -30px;
}

.fade-text-top {
  background-image: linear-gradient(to bottom, transparent, black);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}


.fade-text-bottom {
  background-image: linear-gradient(to top, transparent, black);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.citation {
  font-size: 0.9rem;
  text-align: right;
  margin: 0 0 0.5rem 0;
}

.flyer-preview {
  width: 385px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: #357def solid 1px;
  border-radius: 0.4rem;
}
.flyer-preview .gallery {
  position: relative;
  height: 80px;
  margin-top: 420px;
}

.flyer-preview .gallery img {
  transform-origin: top;
  transform: scale(0.3);
  max-width: calc(100% / 0.25);
  max-height: calc(100% / 0.25);
}

.card {
  background-color: #357def;
  color: white;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
  width: 250px;
  min-height: 150px;
  text-align: center;
}

.big-text {
  font-size: 2rem;
  font-weight: 700; 
}

.bold {
  font-weight: 700;
}

.selectable {
  /* double click will select as a single block of text */
  user-select: all;
  -webkit-user-select: all;
  -moz-user-select: all;
  
}