<img
          id="photoOfTheDayPhoto"
          style="height: 45vh; max-width: 100%; object-fit: contain"
          class="center"
          alt="Photo of the day loading"
        />
        <h2 id="photoOfTheDayName"></h2>
        <p id="photoOfTheDayDescription"></p>
        <a id="photoOfTheDaySource" target="_blank">Source</a>
        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/../js/email-decode.min.js"></script><script src="../js/photoOfTheDay.js"></script>